<a href="https://colab.research.google.com/github/vvlee1974/HW_Python/blob/main/Final_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. 
Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies? |

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()

In [123]:
import pandas as pd
#import numpy as np
import random 
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()
data

   whoAmI
0   human
1   human
2   robot
3   human
4   human
5   robot
6   robot
7   robot
8   human
9   human
10  robot
11  human
12  robot
13  human
14  robot
15  robot
16  robot
17  robot
18  human
19  human

In [124]:
from sklearn. preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')

encoder_df = pd.DataFrame(encoder. fit_transform(data[['whoAmI']]). toarray (), dtype=int)

final_df = data.join (encoder_df)

final_df.drop('whoAmI', axis= 1 , inplace= True )

final_df.columns = ['human', 'robot']

final_df.head()

final_df

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       0      1
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      1      0
12      0      1
13      1      0
14      0      1
15      0      1
16      0      1
17      0      1
18      1      0
19      1      0